<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="haunted_castle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3,Profile=Client" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.2,Profile=Client" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1,Profile=Client" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <userSettings>
    <haunted_castle.Properties.Settings>
      <setting name="V" serializeAs="String">
        <value>False</value>
      </setting>
    </haunted_castle.Properties.Settings>
  </userSettings>
</configuration>
